<h1>Listing content_categories</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @content_categories.each do |content_category| %>
  <tr>
    <td><%= content_category.title %></td>
    <td><%= content_category.status %></td>
    <td><%= link_to 'Show', content_category %></td>
    <td><%= link_to 'Edit', edit_content_category_path(content_category) %></td>
    <td><%= link_to 'Destroy', content_category, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Content category', new_content_category_path %>
