<p id="notice"><%= notice %></p>

<p>
  <b>Parent:</b>
  <%= @site.parent_id %>
</p>

<p>
  <b>Title:</b>
  <%= @site.title %>
</p>

<p>
  <b>Url:</b>
  <%= @site.url %>
</p>

<p>
  <b>Folder name:</b>
  <%= @site.folder_name %>
</p>

<p>
  <b>Host name:</b>
  <%= @site.host_name %>
</p>

<p>
  <b>Status:</b>
  <%= @site.status %>
</p>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
